<!DOCTYPE html>
<html>
<head>
    <title>Feedback Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h2>Feedback Form</h2>
    <form id="form">
        <input type="text" id="name" placeholder="Enter Name">
        <br><br>
        <textarea id="feedback" placeholder="Enter Feedback"></textarea>
        <br><br>
        <button type="submit">Submit</button>
    </form>
    <h3>Result</h3>
    <div id="result"></div>
 <script>

$("#form").submit(function(){

    var name = $("#name").val();
    var feedback = $("#feedback").val();

    $("#result").append(name + " : " + feedback+"<br>");

    return false;
});

</script>

</body>
</html>